.legendy {
    position: absolute;
    top: 70px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    right: 340px;
    flex-wrap: wrap;
    z-index: 2;
}

app-legenda-przeplywu,
app-legenda-stref {
    margin: 10px;
}


@media (max-width: 800px) {
    .legendy {
        width: 200px;
    }

}


@media (max-width: 550px) {
    .legendy {
        right: 80px;
        width: 200px;
    }

}