.box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

nav {
    height: 5%;
    width: 100%;
    background-color: #fff;
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(219, 228, 233);
    color: rgb(34, 87, 116);

    .dhi {
        width: 10%;
        display: flex;
        background-color: #fff;
        margin: 3px;

        p {
            margin: 5px 0 0 5px;
            line-height: 15px;
            font-size: 15px;
            font-weight: 500;

            span {
                font-size: 10px;
            }
        }
    }

    h1 {
        background-color: rgb(242, 245, 247);
        text-align: center;
        width: 90%;
        margin: 3px;
        // line-height: 50px;
    }
}

.panel {
    z-index: 2;
    position: absolute;
    right: 0;
    height: 95%;
    width: 60px;
    background-color: rgb(248, 248, 248);


}