nav {
    z-index: 3;
    position: absolute;
    height: 5vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(219, 228, 233);
    color: rgb(34, 87, 116);

    .dhi {
        width: 10%;
        display: flex;
        background-color: #fff;
        margin: 3px;
        min-width: 180px;
        cursor: pointer;

        p {
            margin: 5px 0 0 5px;
            line-height: 15px;
            font-size: 15px;
            font-weight: 500;

            span {
                font-size: 10px;
            }
        }

        i {
            margin-top: 7px;
            margin-left: 30px;
        }
    }

    h1 {
        background-color: rgb(242, 245, 247);
        text-align: center;
        width: 90%;
        margin: 3px;
        line-height: 40px;
    }
}

.wrapper {
    position: absolute;
    top: 5vh;
    height: 95%;
    width: 60px;
    z-index: 2;
    right: 0;
    overflow-x: hidden;
    transition: .2s;

}

.panel {
    position: relative;
    width: 320px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: flex;
    transition: .2s;
    font-family: 'Poppins', sans-serif;

    .icons {
        width: 60px;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: rgb(34, 87, 116);

        i {
            cursor: pointer;
            width: 100%;
            text-align: center;
            font-size: 30px;
            height: 60px;
            line-height: 60px;
            margin-top: 20px;
        }

        .add {
            margin-top: 200px;
            background-color: rgb(11, 69, 102);
            color: white;
        }

    }


    .form-box {
        width: 260px;
        border-left: 1px solid rgb(219, 228, 233);

        .blue {
            color: rgb(82, 164, 236)
        }

        h1 {
            margin-top: 10px;
            color: rgb(34, 87, 116);
            font-size: 25px;
            height: 50px;
            text-align: center;
            border-bottom: 1px solid rgb(219, 228, 233);
        }

        h3 {
            margin-top: 10px;
            color: rgb(34, 87, 116);
            font-size: 16px;
            font-weight: 500;
        }

        p {
            font-size: 14px;
        }

        .instrukcja {
            padding: 0 10px 0 10px;
            box-sizing: border-box;
            border-bottom: 1px solid rgb(219, 228, 233);

        }

        .matbox {
            width: 100%;
        }

        .position {
            display: flex;

            mat-form-field {
                width: 45%;
                margin: 2.5%;
            }
        }

        .btns {
            padding-bottom: 20px;
            display: flex;
            justify-content: space-evenly;

            .clean {
                border: 2px solid rgb(0, 164, 236);
                color: rgb(0, 164, 236);
            }

            .confirm {
                background-color: rgb(0, 164, 236);
                color: white;
            }

            .disabled {
                opacity: .4;
            }
        }
    }

}


.wrappershow {
    width: 320px;
}

@media (max-width: 800px) {
    .legendy {
        width: 200px;
    }

}


@media (max-width: 550px) {
    nav {
        height: 50px;

    }

    .wrapper {
        top: 50px;
        height: 73%;
        min-height: 570px;
    }


}